.app_tuner {
    font-size: 30px;
    margin-left: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #000000;
    color: #fffffff;
}

.app_fftgraph {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

